                          <tr>
                            <td><%= videourl.title %></td>
                            <td><%= videourl.body_html %></td>
                            <td><%= videourl.description %></td>
                          </tr>
                       