<% content_for :title do %>About Medical Device Hub<% end %>

<h2>About Medical Device Hub</h2>
<p>Medical Device Hub is a world wide aggregator of Medical Devices.</p>

<h3>For Users:</h3>

	<ol>
		<p>
			<li>
				MedicalDeviceHub  lists 140,000 medical devices from more than 24,000 manufacturers worldwide and attracts several thousands regular visitors across Globe.
			</li>
		</p>
		<p>
			 <li>
			MedicalDeviceHub Inc.  brings your device to global audience and customers using several social media strategies (Youtube, Facebook, twitter and Pinterest and several other social media platforms).
			 </li>
		</p>

		<p>
			   <li>
			We create awesome professional videos on what is the device, how it works and how to use at different settings (At hospital or home). The videos can be of several categories such as for healthcare professionals or towards consumers.
			  </li>
		</p>

		<p>

		   	<li>
				We also create and in-depth text description of Medical device with specifications relevant to customers.
		 	</li>
	 	</p>
	</ol>

<h3> For Manufacturers: </h3>	
<ol>
	<p>
		<li>
			MedicalDeviceHub Inc. helps increase the revenues by bringing more exposure of Medical Device companies products by marketing to consumer. Each month we reach 2 million consumers on the web through different social media sites such as Youtube, Twitter and Facebook with an audio message.
		</li>
	</p>
	<p>
		<li>
			We have automated the device warning and alert system, where we notifies the manufactures if there are some warning or alert pops up on the web.
			So that the device manufacturers can be alerted on ongoing device related issues
  		</li>
	</p>
	<p>	
	   <li>
			We also alert you if there is a new similar/ competitive device enters into the market.
	   </li>
	</p>

</ol>