<% content_for :title do %>Information on Mobile Medical Applications<% end %>
<div class="row">
	<div class="container">
		<h1>Mobile Medical Applications: </h1>
    <h4>1. What are Mobile Medical Apps? </h4>
    <p>
      Mobile medical apps are medical devices that are mobile apps, meets the definition of a medical device and are an accessory to a regulated medical device or transform a mobile platform into a regulated medical device.
    </p>
    <p>
      According to FDA definition:
    </p>
    <p>
      A “mobile medical app” is a mobile app that meets the definition
of device in section 201(h) of the Federal Food, Drug, and Cosmetic Act (FD&C Act); and
either is intended:
<ul>
  <li>to be used as an accessory to a regulated medical device; or </li>
  <li>to transform a mobile platform into a regulated medical device.</li>
</ul>
    </p>

    <p>

      In general, if a mobile app is intended for use in performing a medical device function (i.e. for
      diagnosis of disease or other conditions, or the cure, mitigation, treatment, or prevention of
      disease) it is a medical device, regardless of the platform on which it is run.
    </p>
    <p>
        For example, mobile apps intended to run on smart phones to analyze and interpret EKG waveforms to detect
      heart function irregularities would be considered similar to software running on a desktop
      computer that serves the same function, which is regulated under 21 CFR 870.2340
      (“Electrocardiograph”).
    </p>

    <p>
        FDA’s oversight approach to mobile apps is focused on their
        functionality, just as it focuses on the functionality of conventional devices. FDA's oversight is not determined by the platform. Under this guidance, FDA would not regulate the sale or
        general/conventional consumer use of smartphones or tablets.
    </p>

    <p>

        FDA’s oversight applies to mobile
        apps performing medical device functions, such as when a mobile medical app transforms a
        mobile platform into a medical device. However, as previously noted, FDA intend to apply this
        oversight authority only to those mobile apps whose functionality could pose a risk to a patient’s
        safety if the mobile app were to not function as intended.
    </p>




        <div class=" ">

            <h4> If you are looking for designing and developing any medical device mobile app, do not hesitate to write:  <%= link_to "Contact Us", new_contact_path, :class =>"btn btn-success btn-sm" %></h4>
        </div>


	</div>
</div>
