/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
*= require bootstrap
*/

@import 'bootstrap';



//Menu

.main-menu {
	margin:auto;
}

.main-menu ul {
	list-style:none;
	padding-left:0px;
	width:1140px;
	height:60px;
	margin: 0 auto;
	text-align:left;
}

.main-menu ul li {
	float: left;
	border-left: 1px solid grey;
	width: 140px;
	height: 60px;
	list-style-type: none;
	position:relative;
	
}

.main-menu ul li a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	width: 140px;
	height: 60px;
	padding-top:24px;
	padding-left:10px;
	position:absolute;
}

.main-menu ul li a:hover {
	color: red;
}



//ROTATOR

.rotator {
  	display: block;
   	position: relative;
   	width: 100%;
   	border:none;
}

.rotator-box {
	height: 274px;
	width: 100%;
	bg-color:3a3939;
	margin:auto;
}

.rotator-bottom {
	height: 60px;
	background-color:#0aa98a;
	margin-bottom:40px;
}

#container2 {
	height:260px;
	background-color:#3a3939;
}

#container2 img {
	width:50%;
	height:50%;
	margin: 0 auto;
	padding-top:20px;
}


#container2 ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
	position:absolute;
	display:inline-block;
	white-space:nowrap;
	width:1140px;

}

#container2 ul li {
	color:#fff;
	background-image: url('/assets/arrow_button.png');
	background-repeat: no-repeat;
	padding-left: 24px;
	font-size: 18px;
	width: 360px;
	padding-top: 50px;
	background-position: 0px 50px;
	margin-left:120px;
	display:inline-block;
}


.info {
	position:absolute;
}


#device-box {
	width:1140px;
	margin:auto;
}



.menu-box {
	height: 60px;
	background-color:#0aa98a;
	margin-top:40px;
}



// Search Box


 .cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

 /* Form wrapper styling */
.search-wrapper {
width: 620px;
margin: 45px auto 40px auto;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
 
/* Form text input */
 
.search-wrapper input {
width: 474px;
height: 50px;
padding: 5px;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #EEE;
border-radius: 3px 0 0 3px;
}

form input [type=text] {
	font-size:20px;
}
 
.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 50px;
width: 146px;
font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
color: white;
text-transform: uppercase;
background: #D83C3C;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
   
.search-wrapper button:hover{     
    background: #e54040;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
.search-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}      
 
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    


/* Footer */

#footer {
	color: #999;
	background-color: #383838;	
	border-top: 5px solid #e5e5e5;
	margin-top: 60px;
}

#footer h2,
#footer h3 {
	color: #e5e5e5;	
}

#footer h3 {
	padding-bottom: 10px;
	border-bottom: 1px solid #4c4c4c;	
	margin-bottom: 25px;
}

#footer-top {
	overflow: hidden;	
}

#footer-top a:hover {
	color: #e5e5e5;
}

#footer-bottom {
	overflow: hidden;
	padding: 25px 0;
	border-top: 1px solid #4c4c4c;	
	font-size: 0.916em; /* 11px */
}

#footer-bottom a {
	color: #bfbfbf;
}

#footer-bottom p {
	margin: 0;
}

#footer-nav ul {
	text-align: right;
}

#footer-nav ul li {
	display: inline;	
}

.one-half, .one-third, .one-fourth, .two-thirds, .three-fourths {
	display: inline;
	float: left;
    margin-right: 2%;
}

.one-half {
	width: 49%;	
	max-width: 460px;
}

.one-third {
	width: 32%;	
	max-width: 300px;
}

.one-fourth {
	width: 23.5%;	
	max-width: 250px;
}

.two-thirds {
	width: 66%;	
	max-width: 620px;	
}

.three-fourths {
	width: 74.5%;	
	max-width: 700px;	
}

.column-last { 
	margin-right: 0 !important;
}


/* Social Links */

.social-links ul {
	overflow: hidden;
	margin-right: -6px;	
}

.social-links li {
	float: left;
	margin: 0 6px 6px 0;
}

.social-links a {
	display: block;
	width: 24px;
	height: 24px;
	background-position: left top;
	background-repeat: no-repeat;	
	text-indent: -10000em;
}

.social-links a:hover {
	background-position: left -25px; 
}


.social-links li.twitter a {
	background-image: url('/assets/social-media/twitter-circular.png');
}

.social-links li.facebook a {
	background-image: url('/assets/social-media/facebook-circular.png');	
}

.social-links li.google a {
	background-image: url('/assets/social-media/google-circular.png');	
}

.social-links li.youtube a {
	background-image: url('/assets/social-media/youtube-circular.png');	
}

.social-links li.rss a {
	background-image: url('/assets/social-media/rss-circular.png');	
}