// Place all the styles related to the medicaldevices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.device-image img{
	width: 360px;
	height: 280px;
}

.deviceimage-thumbnail {
	height:50px;
	width: 80px;
}

.device-video2 {
	height:300px;
	width: 350px;
}


.create-review {
	float:right;
}

.device-number {
	float:right;
}

#device_review_content{
	margin:0px;
	width:740px;
	height: 140px;
}
.default-video-image img{
	width:660px;
	height:480px;
}

.device-heading {
	color:red;
}


.list_similar_line_even {
  background: #F5F5DC;
  height:60px;
}

.list_similar_line_odd {
  background: #FFF0F5;
  height:60px;
}

.device-page-contact-button {
	float:right;
	display:inline-block;
}