// Place all the styles related to the medicaldevices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.device-image img{
	width: 360px;
	height: 280px;
}

.deviceimage-thumbnail {
	height:50px;
	width: 80px;
}