// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_line_even {
  background:   #e0ffff;
}

.list_line_odd {
  background:   #d3d3d3;
}

.device-image {
	width: 80px;
	height: 50px;
}

