
<section class="search">
	<form action="/medicaldevices" method="get" id= "search-box">
		<div class ="wrapper">
			<input name="utf8" type="hidden" value="&#x2713;" />
			<input id="query" name="query" type="text" placeholder="Search for Medical Device" />
	    	<button type="submit" value="Search" class="btn btn-primary">Submit</button>
		</div>
	</form>
</section>